:root {
  --page-padding: 4px; /*Over all pages padding spaces */
  --theme-color: linear-gradient(
    to bottom,
    #400c7f,
    #250639
  ); /*Theme Color for users app*/
  --font-color: #400c7f
}
